websockets.flow
[{"id":"b75709f2.76f9a8","type":"tab","label":"Flow 1"},{"id":"4e5920d6.5eb4a","type":"inject","z":"b75709f2.76f9a8","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":150,"y":280,"wires":[["418df6c7.016828"]]},{"id":"93e8f891.753538","type":"websocket out","z":"b75709f2.76f9a8","name":"","server":"7da0e72.633e418","client":"","x":860,"y":280,"wires":[]},{"id":"66b24a39.60e034","type":"http response","z":"b75709f2.76f9a8","name":"Untitled Theme 1","x":650,"y":80,"wires":[]},{"id":"93cc1285.14d8c","type":"http in","z":"b75709f2.76f9a8","name":"","url":"/simple","method":"get","swaggerDoc":"","x":130,"y":80,"wires":[["3a463b29.d5d044"]]},{"id":"3a463b29.d5d044","type":"template","z":"b75709f2.76f9a8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":390,"y":80,"wires":[["66b24a39.60e034"]]},{"id":"6601b37e.75ed1c","type":"function","z":"b75709f2.76f9a8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["93e8f891.753538"]]},{"id":"6641fba7.093d24","type":"websocket in","z":"b75709f2.76f9a8","name":"","server":"7da0e72.633e418","client":"","x":140,"y":200,"wires":[["77b52d2e.0003c4"]]},{"id":"77b52d2e.0003c4","type":"debug","z":"b75709f2.76f9a8","name":"","active":true,"console":"false","complete":"false","x":370,"y":200,"wires":[]},{"id":"ee538f65.f7654","type":"debug","z":"b75709f2.76f9a8","name":"","active":true,"console":"false","complete":"false","x":1050,"y":380,"wires":[]},{"id":"5ca69ae4.cf3914","type":"openweathermap","z":"b75709f2.76f9a8","name":"","wtype":"current","lon":"","lat":"","city":"Portland, OR","country":"US","language":"en","x":650,"y":380,"wires":[["15f108b7.d02fa7"]]},{"id":"418df6c7.016828","type":"function","z":"b75709f2.76f9a8","name":"Splitter","func":"return [msg,msg];","outputs":"2","noerr":0,"x":360,"y":280,"wires":[["6601b37e.75ed1c"],["5ca69ae4.cf3914"]]},{"id":"15f108b7.d02fa7","type":"function","z":"b75709f2.76f9a8","name":"Convert Timestamp","func":"msg.payload.sunrise = Date(msg.payload.sunrise).toString();\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["ee538f65.f7654"]]},{"id":"7da0e72.633e418","type":"websocket-listener","z":"b75709f2.76f9a8","path":"/ws/simple","wholemsg":"false"}]