flows/displayImage.flow
[{"id":"39555af4.df71d6","type":"tab","label":"Display Image"},{"id":"70da1323.ab6edc","type":"http response","z":"39555af4.df71d6","name":"","x":690,"y":80,"wires":[]},{"id":"b88df10a.7f026","type":"function","z":"39555af4.df71d6","name":"Set Content-Type header","func":"msg.headers = {\n    \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["70da1323.ab6edc"]]},{"id":"b9dafae1.0d6188","type":"file in","z":"39555af4.df71d6","name":"","filename":"/home/test.jpg","format":"","x":300,"y":80,"wires":[["b88df10a.7f026"]]},{"id":"96441531.9644b8","type":"http in","z":"39555af4.df71d6","name":"","url":"/testImage","method":"get","swaggerDoc":"","x":120,"y":80,"wires":[["b9dafae1.0d6188"]]}]