flows/OpenZWave.flow
[{"id":"213278c7.86ba18","type":"tab","label":"OpenZWave"},{"id":"40234ad2.d0ec84","type":"zwave-controller","z":"","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false,"logging":true},{"id":"7cf06c8.d4ced94","type":"debug","z":"213278c7.86ba18","name":"IN","active":true,"console":"false","complete":"true","x":410,"y":40,"wires":[]},{"id":"f82a7117.1eb35","type":"zwave-in","z":"213278c7.86ba18","name":"","controller":"40234ad2.d0ec84","x":90,"y":40,"wires":[["7cf06c8.d4ced94"]]},{"id":"2c0715f7.a0d75a","type":"zwave-out","z":"213278c7.86ba18","name":"","controller":"40234ad2.d0ec84","x":410,"y":100,"wires":[[]]},{"id":"1a591697.90b4e9","type":"inject","z":"213278c7.86ba18","name":"On","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":99}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["2c0715f7.a0d75a","82f28e09.69374"]]},{"id":"82f28e09.69374","type":"debug","z":"213278c7.86ba18","name":"OUT","active":true,"console":"false","complete":"true","x":410,"y":260,"wires":[]},{"id":"27896f16.c638e","type":"inject","z":"213278c7.86ba18","name":"50%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":180,"wires":[["2c0715f7.a0d75a","82f28e09.69374"]]},{"id":"d7c8b9dc.1bbba8","type":"inject","z":"213278c7.86ba18","name":"Off","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":260,"wires":[["2c0715f7.a0d75a","82f28e09.69374"]]},{"id":"3a55aba0.9a5944","type":"inject","z":"213278c7.86ba18","name":"25%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":220,"wires":[["2c0715f7.a0d75a","82f28e09.69374"]]},{"id":"67f75323.4b34cc","type":"inject","z":"213278c7.86ba18","name":"75%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":75}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":140,"wires":[["2c0715f7.a0d75a","82f28e09.69374"]]}]