flows/OpenZWave.flow
[{"id":"be71af39.26eb3","type":"tab","label":"OpenZWave"},{"id":"8cc80ecc.ddb75","type":"debug","z":"be71af39.26eb3","name":"ZWave: Value Changed","active":true,"console":"false","complete":"true","x":1250,"y":240,"wires":[]},{"id":"7bbe5d72.272e94","type":"zwave-in","z":"be71af39.26eb3","name":"ZWave Network Events","controller":"4cc33fdd.fb1f7","x":140,"y":240,"wires":[["b287ee04.b039a","ea145dca.d2b03"]]},{"id":"41150f52.8ef3d","type":"zwave-out","z":"be71af39.26eb3","name":"ZWave Publisher","controller":"4cc33fdd.fb1f7","x":490,"y":400,"wires":[[]]},{"id":"5a55a32c.8f41ac","type":"inject","z":"be71af39.26eb3","name":"On","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":99}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":400,"wires":[["41150f52.8ef3d"]]},{"id":"c98022a0.d1ee3","type":"inject","z":"be71af39.26eb3","name":"50%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":480,"wires":[["41150f52.8ef3d"]]},{"id":"3ad5425e.72230e","type":"inject","z":"be71af39.26eb3","name":"Off","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":560,"wires":[["41150f52.8ef3d"]]},{"id":"4f90dc3d.354f34","type":"inject","z":"be71af39.26eb3","name":"25%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":520,"wires":[["41150f52.8ef3d"]]},{"id":"56ae097c.4aead8","type":"inject","z":"be71af39.26eb3","name":"75%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":75}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":440,"wires":[["41150f52.8ef3d"]]},{"id":"350ba146.acf7fe","type":"comment","z":"be71af39.26eb3","name":"Testing Desk Lamp","info":"","x":130,"y":360,"wires":[]},{"id":"4ce28594.91cc7c","type":"inject","z":"be71af39.26eb3","name":"Test Network","topic":"testNetwork","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":800,"wires":[["41150f52.8ef3d"]]},{"id":"2451599f.bd4986","type":"inject","z":"be71af39.26eb3","name":"Soft Reset","topic":"softReset","payload":"{\"prependHomeId\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":840,"wires":[["41150f52.8ef3d"]]},{"id":"fc066917.7c8a48","type":"inject","z":"be71af39.26eb3","name":"Connect","topic":"connect","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":880,"wires":[["41150f52.8ef3d"]]},{"id":"762eeec0.adf38","type":"inject","z":"be71af39.26eb3","name":"Disconnect","topic":"disconnect","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":920,"wires":[["41150f52.8ef3d"]]},{"id":"832714.b1ff18f","type":"switch","z":"be71af39.26eb3","name":"ZWave Event Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zwave: value changed","vt":"str"},{"t":"eq","v":"zwave: notification","vt":"str"}],"checkall":"false","outputs":2,"x":500,"y":240,"wires":[["8cc80ecc.ddb75"],["88c4be4e.4bf19"]]},{"id":"3b9614a3.3eb4ac","type":"pubnub in","z":"be71af39.26eb3","keys":"1e45ea99.1a6555","channel":"Home","auth_token":"","cipher_key":"","ssl":true,"verbose_logging":false,"x":90,"y":40,"wires":[["82b3b2d0.cf699"]]},{"id":"82b3b2d0.cf699","type":"debug","z":"be71af39.26eb3","name":"PUBNUB","active":false,"console":"false","complete":"true","x":1200,"y":40,"wires":[]},{"id":"dc34fbe5.da68e8","type":"pubnub out","z":"be71af39.26eb3","keys":"1e45ea99.1a6555","channel":"Home","auth_token":"","cipher_key":"","ssl":true,"verbose_logging":false,"x":1190,"y":100,"wires":[]},{"id":"735471ad.61fd5","type":"inject","z":"be71af39.26eb3","name":"","topic":"","payload":"{\"type\":\"nodes\",\"data\":{\"product\":\"Smart Energy Switch\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["dc34fbe5.da68e8"]]},{"id":"49ad1ac4.cde704","type":"debug","z":"be71af39.26eb3","name":"ZWave: No Operation","active":false,"console":"false","complete":"true","x":1240,"y":280,"wires":[]},{"id":"88c4be4e.4bf19","type":"switch","z":"be71af39.26eb3","name":"Notification","property":"payload.help","propertyType":"msg","rules":[{"t":"eq","v":"Notification - Node Dead","vt":"str"},{"t":"eq","v":"Notification - NoOperation","vt":"str"}],"checkall":"true","outputs":2,"x":750,"y":280,"wires":[["769eb4b2.f44c1c"],["5b781770.f0bf98"]]},{"id":"5b781770.f0bf98","type":"function","z":"be71af39.26eb3","name":"Node Scanned","func":"scannedNodes = flow.get('scannedNodes');\nscannedNodes.push(msg.payload.nodeid);\nscannedNodes = scannedNodes.filter(function(item, pos, self) {\n  return self.indexOf(item) == pos;\n});\nflow.set('scannedNodes',scannedNodes);\n\ndeadNodes = flow.get('deadNodes');\n\nfunction difference(a1, a2) {\n  var result = [];\n  for (var i = 0; i < a1.length; i++) {\n    if (a2.indexOf(a1[i]) === -1) {\n      result.push(a1[i]);\n    }\n  }\n  return result;\n}\n\naliveNodes = difference(scannedNodes, deadNodes);  \nflow.set('aliveNodes',aliveNodes);\n\nmsg.aliveNodes = aliveNodes;\nmsg.payload = {nodeid: msg.payload.nodeid,status: 1};\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":320,"wires":[["49ad1ac4.cde704"]]},{"id":"769eb4b2.f44c1c","type":"function","z":"be71af39.26eb3","name":"Node Dead","func":"deadNodes = flow.get('deadNodes');\ndeadNodes.push(msg.payload.nodeid);\ndeadNodes = deadNodes.filter(function(item, pos, self) {\n  return self.indexOf(item) == pos;\n});\nflow.set('deadNodes',deadNodes);\n\nscannedNodes = flow.get('scannedNodes');\n\nfunction difference(a1, a2) {\n  var result = [];\n  for (var i = 0; i < a1.length; i++) {\n    if (a2.indexOf(a1[i]) === -1) {\n      result.push(a1[i]);\n    }\n  }\n  return result;\n}\naliveNodes = difference(scannedNodes, deadNodes);  \nflow.set('aliveNodes',aliveNodes);\n\nmsg.aliveNodes = aliveNodes;\nmsg.payload = {nodeid: msg.payload.nodeid,status: 0};\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":280,"wires":[["49ad1ac4.cde704"]]},{"id":"b287ee04.b039a","type":"function","z":"be71af39.26eb3","name":"Flow Vars","func":"var scannedNodes = flow.get('scannedNodes') || [];\nflow.set('scannedNodes',scannedNodes);\n\nvar deadNodes = flow.get('deadNodes') || [];\nflow.set('deadNodes',deadNodes);\n\nvar aliveNodes = flow.get('aliveNodes') || [];\nflow.set('aliveNodes',aliveNodes);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["832714.b1ff18f"]]},{"id":"ea145dca.d2b03","type":"debug","z":"be71af39.26eb3","name":"NODE RAW","active":true,"console":"false","complete":"true","x":1230,"y":400,"wires":[]},{"id":"c062410c.5a683","type":"inject","z":"be71af39.26eb3","name":"Node Check","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":120,"y":160,"wires":[["dcf7db3c.4ea338"]]},{"id":"dcf7db3c.4ea338","type":"function","z":"be71af39.26eb3","name":"Alive Nodes","func":"aliveNodes = flow.get('aliveNodes');\nmsg.payload = aliveNodes;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["4dc2f33.101900c"]]},{"id":"4dc2f33.101900c","type":"debug","z":"be71af39.26eb3","name":"ALIVE NODES","active":true,"console":"false","complete":"payload","x":1220,"y":160,"wires":[]},{"id":"2f7972e9.4f897e","type":"inject","z":"be71af39.26eb3","name":"Power Switch Off","topic":"switchOff","payload":"{\"nodeid\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":700,"wires":[["41150f52.8ef3d"]]},{"id":"23b33c90.ad96a4","type":"inject","z":"be71af39.26eb3","name":"Power Switch On","topic":"switchOn","payload":"{\"nodeid\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":660,"wires":[["41150f52.8ef3d"]]},{"id":"7cf3d79b.7a5728","type":"comment","z":"be71af39.26eb3","name":"Testing Power Switch","info":"","x":140,"y":620,"wires":[]},{"id":"18638a42.e0c5e6","type":"comment","z":"be71af39.26eb3","name":"Testing ZWave Admin","info":"","x":140,"y":760,"wires":[]},{"id":"4cc33fdd.fb1f7","type":"zwave-controller","z":"","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false,"logging":true},{"id":"1e45ea99.1a6555","type":"pubnub-keys","z":"","pub_key":"pub-c-3b0e8040-e70c-43cd-8570-d5b3fae446fb","sub_key":"sub-c-b27adcde-2429-11e6-8b91-02ee2ddab7fe"}]