flows/OpenZWave.flow
[{"id":"4eb2f5cc.1179ac","type":"tab","label":"OpenZWave"},{"id":"8b0534b1.a4cda8","type":"debug","z":"4eb2f5cc.1179ac","name":"ZWAVEW: VALUE CHANGED","active":true,"console":"false","complete":"true","x":1240,"y":360,"wires":[]},{"id":"bff38a15.4730d8","type":"zwave-in","z":"4eb2f5cc.1179ac","name":"ZWave Network Events","controller":"d0bbb9af.e15348","x":140,"y":360,"wires":[["3bf75f55.dd3d2"]]},{"id":"24b13235.857b1e","type":"zwave-out","z":"4eb2f5cc.1179ac","name":"ZWave Publisher","controller":"d0bbb9af.e15348","x":490,"y":520,"wires":[[]]},{"id":"a6140489.024ac8","type":"inject","z":"4eb2f5cc.1179ac","name":"On","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":99}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":520,"wires":[["24b13235.857b1e"]]},{"id":"61d77bba.af4084","type":"inject","z":"4eb2f5cc.1179ac","name":"50%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":600,"wires":[["24b13235.857b1e"]]},{"id":"fb7bc30b.e4557","type":"inject","z":"4eb2f5cc.1179ac","name":"Off","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":680,"wires":[["24b13235.857b1e"]]},{"id":"e9fa62a6.78159","type":"inject","z":"4eb2f5cc.1179ac","name":"25%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":25}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":640,"wires":[["24b13235.857b1e"]]},{"id":"f3f2f217.29bbe","type":"inject","z":"4eb2f5cc.1179ac","name":"75%","topic":"setValue","payload":"{\"nodeid\":3,\"cmdclass\":38,\"cmdidx\":0,\"instance\":1,\"value\":75}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":560,"wires":[["24b13235.857b1e"]]},{"id":"5448a996.8573d8","type":"comment","z":"4eb2f5cc.1179ac","name":"Testing Desk Lamp","info":"","x":130,"y":480,"wires":[]},{"id":"b7d9b6aa.819dc8","type":"inject","z":"4eb2f5cc.1179ac","name":"Test Network","topic":"testNetwork","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":920,"wires":[["24b13235.857b1e"]]},{"id":"5b3e43e9.f5e66c","type":"inject","z":"4eb2f5cc.1179ac","name":"Soft Reset","topic":"softReset","payload":"{\"prependHomeId\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":960,"wires":[["24b13235.857b1e"]]},{"id":"e5f6e798.949bc8","type":"inject","z":"4eb2f5cc.1179ac","name":"Connect","topic":"connect","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":1000,"wires":[["24b13235.857b1e"]]},{"id":"1b9a546e.78f8fc","type":"inject","z":"4eb2f5cc.1179ac","name":"Disconnect","topic":"disconnect","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":1040,"wires":[["24b13235.857b1e"]]},{"id":"c637a36d.606f2","type":"switch","z":"4eb2f5cc.1179ac","name":"ZWave Event Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zwave: value changed","vt":"str"},{"t":"eq","v":"zwave: node ready","vt":"str"},{"t":"eq","v":"zwave: scan complete","vt":"str"}],"checkall":"false","outputs":3,"x":500,"y":360,"wires":[["8b0534b1.a4cda8"],["ea2f3773.176178"],["ba589c41.6f513"]]},{"id":"52486e55.24d1a","type":"pubnub in","z":"4eb2f5cc.1179ac","keys":"b1ee4c5a.55e6","channel":"Home","auth_token":"","cipher_key":"","ssl":true,"verbose_logging":false,"x":90,"y":40,"wires":[["5ff56bd1.dd1b04"]]},{"id":"5ff56bd1.dd1b04","type":"debug","z":"4eb2f5cc.1179ac","name":"PUBNUB","active":false,"console":"false","complete":"true","x":1180,"y":40,"wires":[]},{"id":"2576234e.2c19ac","type":"pubnub out","z":"4eb2f5cc.1179ac","keys":"b1ee4c5a.55e6","channel":"Home","auth_token":"","cipher_key":"","ssl":true,"verbose_logging":false,"x":1170,"y":100,"wires":[]},{"id":"9705cb93.697cc8","type":"inject","z":"4eb2f5cc.1179ac","name":"","topic":"","payload":"{\"type\":\"nodes\",\"data\":{\"product\":\"Smart Energy Switch\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["2576234e.2c19ac"]]},{"id":"3bf75f55.dd3d2","type":"function","z":"4eb2f5cc.1179ac","name":"Flow Vars","func":"var aliveNodes = flow.get('aliveNodes') || [];\nflow.set('aliveNodes',aliveNodes);\n\nvar aliveNodeIds = flow.get('aliveNodeIds') || [];\nflow.set('aliveNodeIds',aliveNodeIds);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["c637a36d.606f2"]]},{"id":"22c07975.57a906","type":"inject","z":"4eb2f5cc.1179ac","name":"Node Check","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":120,"y":160,"wires":[["34237b61.13e624"]]},{"id":"34237b61.13e624","type":"function","z":"4eb2f5cc.1179ac","name":"Alive Nodes","func":"aliveNodes = flow.get('aliveNodes');\nmsg.payload = aliveNodes;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["1b4225d1.6130aa","d47c5515.b5a8b8"]]},{"id":"1b4225d1.6130aa","type":"debug","z":"4eb2f5cc.1179ac","name":"ALIVE NODES","active":false,"console":"false","complete":"payload","x":1200,"y":160,"wires":[]},{"id":"f40b9960.294058","type":"inject","z":"4eb2f5cc.1179ac","name":"Power Switch Off","topic":"switchOff","payload":"{\"nodeid\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":820,"wires":[["24b13235.857b1e"]]},{"id":"63c74335.4e8f2c","type":"inject","z":"4eb2f5cc.1179ac","name":"Power Switch On","topic":"switchOn","payload":"{\"nodeid\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120,"y":780,"wires":[["24b13235.857b1e"]]},{"id":"ce8bdfd1.5fd07","type":"comment","z":"4eb2f5cc.1179ac","name":"Testing Power Switch","info":"","x":140,"y":740,"wires":[]},{"id":"52ff444a.a7143c","type":"comment","z":"4eb2f5cc.1179ac","name":"Testing ZWave Admin","info":"","x":140,"y":880,"wires":[]},{"id":"4ee245a7.651cac","type":"debug","z":"4eb2f5cc.1179ac","name":"ZWAVE: NODE ADDED","active":true,"console":"false","complete":"true","x":1230,"y":400,"wires":[]},{"id":"ea2f3773.176178","type":"function","z":"4eb2f5cc.1179ac","name":"Set AliveNode Vars","func":"aliveNodes = flow.get('aliveNodes');\naliveNodeIds = flow.get('aliveNodeIds');\n\naliveNodes.push(msg.payload);\naliveNodeIds.push(msg.payload.nodeid);\n\nflow.set('aliveNodes',aliveNodes);\nflow.set('aliveNodeIds',aliveNodeIds);\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["4ee245a7.651cac"]]},{"id":"ba589c41.6f513","type":"debug","z":"4eb2f5cc.1179ac","name":"ZWAVE: SCAN COMPLETE","active":true,"console":"false","complete":"true","x":1240,"y":480,"wires":[]},{"id":"dcf4b3e.497ba5","type":"inject","z":"4eb2f5cc.1179ac","name":"Refresh Node Info","topic":"refreshNodeInfo","payload":"{\"nodeid\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":1080,"wires":[["24b13235.857b1e"]]},{"id":"d47c5515.b5a8b8","type":"ui_template","z":"4eb2f5cc.1179ac","group":"93aeef23.52906","name":"Nodes","order":0,"width":"0","height":"0","format":"<style>\ntable {\n  margin-top:30px;\n}\n</style>\n\n<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\" integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\" crossorigin=\"anonymous\"></script>\n\n<div class=\"container\">\n  <div class=\"row\">\n    <div class=\"col-md-12\" id=\"nodes\"></div>\n  </div>\n</div>\n\n<script>\n$( document ).ready(function() {\n    var nodeid;\n    (function(scope) {\n      function iterate(obj, stack) {\n          for (var property in obj) {\n              if (obj.hasOwnProperty(property)) {\n                  if (typeof obj[property] == \"object\") {\n                      iterate(obj[property], stack + '.' + property);\n                  } else {\n                      if(obj[property]){\n                        if(property === \"nodeid\"){\n                          nodeid = obj[property];\n                          var $element = $('table#'+nodeid+'');\n                          if(!$element.length){\n                            $element = $('<table id=\"'+nodeid+'\"><tr><td>Key</td><td>Value</td></tr></table>').appendTo('#nodes');\n                            $('table#'+nodeid+' tr:last').after('<tr class=\"'+property+'\"><td>'+property+'</td><td>'+obj[property]+'</td></tr>');\n                          }\n                        } else {\n                          var $element = $('table#'+nodeid+' .'+property+'');\n                          console.log('table#'+obj[property]+' .'+property+'');\n                          if(!$element.length){\n                            $('table#'+nodeid+' tr:last').after('<tr class=\"'+property+'\"><td>'+property+'</td><td>'+obj[property]+'</td></tr>');\n                          }\n                        }\n                      }\n                  }\n              }\n          }\n      }\n      \n      scope.$watch('msg.payload', function(node) {\n        iterate(node, '')\n      });\n    })(scope);\n});\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"x":1010,"y":220,"wires":[["e38b9838.e04938"]]},{"id":"e38b9838.e04938","type":"debug","z":"4eb2f5cc.1179ac","name":"","active":true,"console":"false","complete":"payload","x":1190,"y":220,"wires":[]},{"id":"d0bbb9af.e15348","type":"zwave-controller","z":"","port":"/dev/ttyUSB0","driverattempts":"3","pollinterval":"10000","allowunreadyupdates":false,"logging":true},{"id":"b1ee4c5a.55e6","type":"pubnub-keys","z":"","pub_key":"pub-c-3b0e8040-e70c-43cd-8570-d5b3fae446fb","sub_key":"sub-c-b27adcde-2429-11e6-8b91-02ee2ddab7fe"},{"id":"93aeef23.52906","type":"ui_group","z":"","name":"Nodes","tab":"e8383dab.b100b","disp":true,"width":"12"},{"id":"e8383dab.b100b","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]