flows/samples.flow
[{"id":"f0e3b1d8.6e9a8","type":"tab","label":"GPIO"},{"id":"3b0ccf14.95fd4","type":"tab","label":"Websockets"},{"id":"d0e8b0ff.155ae","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"108000fe.27e77f","type":"websocket-listener","z":"3b0ccf14.95fd4","path":"/ws/simple","wholemsg":"false"},{"id":"96da5bee.978e88","type":"rpi-gpio out","z":"f0e3b1d8.6e9a8","name":"17","pin":"11","set":true,"level":"0","out":"out","x":310,"y":40,"wires":[]},{"id":"71299d19.215914","type":"inject","z":"f0e3b1d8.6e9a8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":40,"wires":[["96da5bee.978e88"]]},{"id":"13722615.c4e09a","type":"inject","z":"f0e3b1d8.6e9a8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["96da5bee.978e88"]]},{"id":"28a86a43.6c30c6","type":"inject","z":"3b0ccf14.95fd4","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":130,"y":160,"wires":[["2fddf1cd.c2cdfe"]]},{"id":"3bf735c4.43626a","type":"websocket out","z":"3b0ccf14.95fd4","name":"","server":"108000fe.27e77f","client":"","x":620,"y":160,"wires":[]},{"id":"7a23cf02.962f4","type":"http response","z":"3b0ccf14.95fd4","name":"Untitled Theme 1","x":630,"y":40,"wires":[]},{"id":"6de10594.42e6cc","type":"http in","z":"3b0ccf14.95fd4","name":"","url":"/simple","method":"get","swaggerDoc":"","x":110,"y":40,"wires":[["b07fca7c.04e778"]]},{"id":"b07fca7c.04e778","type":"template","z":"3b0ccf14.95fd4","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":370,"y":40,"wires":[["7a23cf02.962f4"]]},{"id":"2fddf1cd.c2cdfe","type":"function","z":"3b0ccf14.95fd4","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["3bf735c4.43626a"]]},{"id":"9a0b4fbe.f1ee5","type":"websocket in","z":"3b0ccf14.95fd4","name":"","server":"108000fe.27e77f","client":"","x":120,"y":100,"wires":[["22efc083.802b5"]]},{"id":"22efc083.802b5","type":"debug","z":"3b0ccf14.95fd4","name":"","active":true,"console":"false","complete":"false","x":350,"y":100,"wires":[]},{"id":"a9e66245.78ae2","type":"status","z":"f0e3b1d8.6e9a8","name":"Status","scope":["96da5bee.978e88"],"x":90,"y":160,"wires":[["ea79a67d.78fb98"]]},{"id":"ea79a67d.78fb98","type":"change","z":"f0e3b1d8.6e9a8","name":"Format Payload","rules":[{"t":"set","p":"payload.pin","pt":"msg","to":"status.source.name","tot":"msg"},{"t":"set","p":"payload.status","pt":"msg","to":"status.text","tot":"msg"},{"t":"delete","p":"status","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["fee094b2.c41678"]]},{"id":"9756c1d.ab0df4","type":"mqtt in","z":"f0e3b1d8.6e9a8","name":"","topic":"homie","qos":"2","broker":"d0e8b0ff.155ae","x":90,"y":220,"wires":[["73b0f569.d2b5ac"]]},{"id":"b357c0c1.b1b0e","type":"debug","z":"f0e3b1d8.6e9a8","name":"FINAL","active":true,"console":"false","complete":"payload","x":570,"y":220,"wires":[]},{"id":"fee094b2.c41678","type":"mqtt out","z":"f0e3b1d8.6e9a8","name":"","topic":"homie","qos":"","retain":"","broker":"d0e8b0ff.155ae","x":570,"y":160,"wires":[]},{"id":"73b0f569.d2b5ac","type":"function","z":"f0e3b1d8.6e9a8","name":"","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["23cf967b.e28a2a"]]},{"id":"23cf967b.e28a2a","type":"change","z":"f0e3b1d8.6e9a8","name":"Format Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["b357c0c1.b1b0e"]]}]