containerFiles/ws.json
[{"id":"4c77ee27.cf2ce","type":"function","z":"27731c2c.5fa6d4","name":"JSON Parse","func":"msg.payload = JSON.parse(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["10fd0e39.ab78a2"]]},{"id":"10fd0e39.ab78a2","type":"switch","z":"27731c2c.5fa6d4","name":"msgType","property":"payload.msgType","propertyType":"msg","rules":[{"t":"eq","v":"loadStatus","vt":"str"}],"checkall":"true","outputs":1,"x":540,"y":140,"wires":[["94ccf3a4.b6a0c"]]},{"id":"94ccf3a4.b6a0c","type":"switch","z":"27731c2c.5fa6d4","name":"msgType","property":"payload.msgData.status","propertyType":"msg","rules":[{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"yellow","vt":"str"},{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":4,"x":740,"y":140,"wires":[["6909564d.592e98"],["2cba1065.17ed3"],["19fade6d.da7a72"],["f6628202.16ab8"]]},{"id":"789e61df.34626","type":"rpi-gpio out","z":"27731c2c.5fa6d4","name":"Red","pin":"37","set":"","level":"0","out":"out","x":1250,"y":140,"wires":[]},{"id":"5f4116f9.231378","type":"rpi-gpio out","z":"27731c2c.5fa6d4","name":"Yellow","pin":"35","set":"","level":"0","out":"out","x":1250,"y":200,"wires":[]},{"id":"b9fb22d.61a33e","type":"rpi-gpio out","z":"27731c2c.5fa6d4","name":"Green","pin":"40","set":"","level":"0","out":"out","x":1250,"y":260,"wires":[]},{"id":"6909564d.592e98","type":"function","z":"27731c2c.5fa6d4","name":"Red","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nvar nodeStatus = flow.get('nodeStatus');\nnodeStatus[msg.payload.msgData.node] = \"red\";\nflow.set('nodeStatus', nodeStatus);\n\nred.payload    = \"1\";\nyellow.payload = \"0\";\ngreen.payload  = \"0\";\n\nreturn [red,yellow,green];","outputs":"3","noerr":0,"x":990,"y":140,"wires":[["789e61df.34626"],["5f4116f9.231378"],["b9fb22d.61a33e"]]},{"id":"2cba1065.17ed3","type":"function","z":"27731c2c.5fa6d4","name":"Yellow","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nvar nodeStatus = flow.get('nodeStatus');\nnodeStatus[msg.payload.msgData.node] = \"yellow\";\nflow.set('nodeStatus', nodeStatus);\n\nvar _ = global.get('lodash');\nvar update = true;\n_.forEach(nodeStatus, function(value, key){\n  if(msg.payload.msgData.node != key && (value == \"yellow\" || value == \"red\")){\n    update = false;\n  }\n});\n\nif(update){\n  red.payload    = \"0\";\n  yellow.payload = \"1\";\n  green.payload  = \"0\";\n\n  return [red,yellow,green];\n} else {\n}","outputs":"3","noerr":0,"x":990,"y":200,"wires":[["789e61df.34626"],["5f4116f9.231378"],["b9fb22d.61a33e"]]},{"id":"19fade6d.da7a72","type":"function","z":"27731c2c.5fa6d4","name":"Green","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nvar nodeStatus = flow.get('nodeStatus');\nnodeStatus[msg.payload.msgData.node] = \"green\";\nflow.set('nodeStatus', nodeStatus);\n\nvar _ = global.get('lodash');\nvar update = true;\nvar greenCount = 0;\n_.forEach(nodeStatus, function(value, key){\n  if(msg.payload.msgData.node != key && (value == \"yellow\" || value == \"red\")){\n    update = false;\n  } else {\n    greenCount++;\n    \n    //if(greenCount == _.size(nodeStatus)){\n    //  update = false;\n    //}\n  }\n  \n});\n\nif(update){\n  red.payload    = \"0\";\n  yellow.payload = \"0\";\n  green.payload  = \"1\";\n\n  return [red,yellow,green];\n} else {\n}","outputs":"3","noerr":0,"x":990,"y":260,"wires":[["789e61df.34626"],["5f4116f9.231378"],["b9fb22d.61a33e"]]},{"id":"f6628202.16ab8","type":"function","z":"27731c2c.5fa6d4","name":"Off","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nvar nodeStatus = flow.get('nodeStatus');\nnodeStatus[msg.payload.msgData.node] = \"off\";\nflow.set('nodeStatus', nodeStatus);\n\nred.payload    = \"0\";\nyellow.payload = \"0\";\ngreen.payload  = \"0\";\n\nreturn [red,yellow,green];","outputs":"3","noerr":0,"x":990,"y":320,"wires":[["789e61df.34626"],["5f4116f9.231378"],["b9fb22d.61a33e"]]},{"id":"7f73b940.bfc8d8","type":"function","z":"27731c2c.5fa6d4","name":"Globals","func":"var nodeStatus = {};\n\nflow.set('nodeStatus', nodeStatus);","outputs":1,"noerr":0,"x":1240,"y":60,"wires":[[]]},{"id":"a99fa7c9.650a58","type":"inject","z":"27731c2c.5fa6d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":60,"wires":[["7f73b940.bfc8d8"]]},{"id":"837a63ad.210b","type":"websocket in","z":"27731c2c.5fa6d4","name":"","server":"d9ade198.f46a3","client":"","x":110,"y":140,"wires":[["4c77ee27.cf2ce"]]},{"id":"d9ade198.f46a3","type":"websocket-listener","z":"","path":"/ws/gpio","wholemsg":"false"}]