containerFiles/ws.json
[{"id":"b628aeb4.85ec7","type":"tab","label":"WS Boilerplate"},{"id":"661d754a.06199c","type":"websocket in","z":"b628aeb4.85ec7","name":"WS Client","server":"7b231528.b35d4c","client":"","x":80,"y":40,"wires":[["da46d81c.ab6b88"]]},{"id":"da46d81c.ab6b88","type":"function","z":"b628aeb4.85ec7","name":"JSON Parse","func":"msg.payload = JSON.parse(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":40,"wires":[["da4444d7.a0f168"]]},{"id":"da4444d7.a0f168","type":"switch","z":"b628aeb4.85ec7","name":"msgType","property":"payload.msgType","propertyType":"msg","rules":[{"t":"eq","v":"loadStatus","vt":"str"}],"checkall":"true","outputs":1,"x":520,"y":40,"wires":[["db8ae2a6.39de5"]]},{"id":"db8ae2a6.39de5","type":"switch","z":"b628aeb4.85ec7","name":"msgType","property":"payload.msgData.status","propertyType":"msg","rules":[{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"yellow","vt":"str"},{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":4,"x":720,"y":40,"wires":[["75347202.15b4cc"],["686c4926.1920b8"],["cd5c12d9.78115"],["c59b739.7a35c9"]]},{"id":"84886ed6.3a813","type":"rpi-gpio out","z":"b628aeb4.85ec7","name":"Red","pin":"37","set":"","level":"0","out":"out","x":1230,"y":40,"wires":[]},{"id":"3ee0578b.3cc548","type":"rpi-gpio out","z":"b628aeb4.85ec7","name":"Yellow","pin":"35","set":"","level":"0","out":"out","x":1230,"y":100,"wires":[]},{"id":"a9b84630.264978","type":"rpi-gpio out","z":"b628aeb4.85ec7","name":"Green","pin":"40","set":"","level":"0","out":"out","x":1230,"y":160,"wires":[]},{"id":"75347202.15b4cc","type":"function","z":"b628aeb4.85ec7","name":"Red","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nred.payload    = \"1\";\nyellow.payload = \"0\";\ngreen.payload  = \"0\";\n\nreturn [red,yellow,green];","outputs":"3","noerr":0,"x":970,"y":40,"wires":[["84886ed6.3a813"],["3ee0578b.3cc548"],["a9b84630.264978"]]},{"id":"686c4926.1920b8","type":"function","z":"b628aeb4.85ec7","name":"Yellow","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nred.payload    = \"0\";\nyellow.payload = \"1\";\ngreen.payload  = \"0\";\n\nreturn [red,yellow,green];","outputs":"3","noerr":0,"x":970,"y":100,"wires":[["84886ed6.3a813"],["3ee0578b.3cc548"],["a9b84630.264978"]]},{"id":"cd5c12d9.78115","type":"function","z":"b628aeb4.85ec7","name":"Green","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nred.payload    = \"0\";\nyellow.payload = \"0\";\ngreen.payload  = \"1\";\n\nreturn [red,yellow,green];","outputs":"3","noerr":0,"x":970,"y":160,"wires":[["84886ed6.3a813"],["3ee0578b.3cc548"],["a9b84630.264978"]]},{"id":"6350eafc.30c614","type":"websocket out","z":"b628aeb4.85ec7","name":"WS: Server","server":"7b231528.b35d4c","client":"","x":1210,"y":360,"wires":[]},{"id":"c59b739.7a35c9","type":"function","z":"b628aeb4.85ec7","name":"Off","func":"red    = JSON.parse(JSON.stringify(msg));\nyellow = JSON.parse(JSON.stringify(msg));\ngreen  = JSON.parse(JSON.stringify(msg));\n\nred.payload    = \"0\";\nyellow.payload = \"0\";\ngreen.payload  = \"0\";\n\nreturn [red,yellow,green];","outputs":"3","noerr":0,"x":970,"y":220,"wires":[["84886ed6.3a813"],["3ee0578b.3cc548"],["a9b84630.264978"]]},{"id":"7b231528.b35d4c","type":"websocket-listener","z":"b628aeb4.85ec7","path":"/ws/dashing","wholemsg":"false"}]